<html>
<head>
    <title>home-page</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="banner">
        <div class="content">
            <h1>Sezim Flowers</h1>
            <p>Each bloom is meticulously selected to evoke not only delight for the recipient but also a
            sense of fulfillment for the giver,<br>press the bell icon to create a shared experience of heartfelt emotions!</p>
            <div>
                <button type="button" onclick="window.location.href='/about'"><span></span>WATCH MORE</button>
                <button type="button" onclick="window.location.href='/bouquet-list'"><span></span>ORDER</button>
            </div>
        </div>
    </div>

</body>
</html>