<html>
<head>
    <title>about us</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="login-box">
        <a [routerLink]="['/home']" >
            <div class="close-icon"> </div>
        </a>
        <div class="login-header">
            <header>LOGIN</header>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="E-mail" autocomplete="off" required>
            <input type="text" class="input-field" placeholder="Password" autocomplete="off" required>
        </div>
        <div class="forgot">
            <section>
                <input type="checkbox" id="check">
                <label for="check">Remember me</label>
            </section>
            <section>
                <a href="#">Forgot password</a>
            </section>
        </div>
        <div class="input-submit">
            <button class="submit-button"></button>
            <label for="submit">Sign In</label>
        </div>
        <div  class="sign-up-link">
            <p>Don't have account? <a href="#">Sign Up</a></p>
        </div>
    </div>
</body>
</html>
