<div class="bouquet-details-container">

  <div *ngIf="bouquet">
    <h2><strong>{{ bouquet.name }}</strong></h2>
    <div class = "d">
    <img [src]="bouquet.image" [alt]="bouquet.name">
    <div class = "df">
    <h4 id="price">Current price: {{ bouquet.price }} ₸</h4>
    <p>Description: {{ bouquet.description }}</p>
    <div class="cart-button">
      <button type="button" (click)="addToCart(bouquet)">
          <span></span>BUY
        </button>
        </div>
      </div>
    </div>
  </div>