.bouquet-details-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
button{
    width: 15%;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid  #6f855c;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center;
}

span{
    background: #6f855c;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    text-align: center;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

#price {
    font-size: 18px;
    color: #333;
  }
  
   p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
  }

  img{
    border-radius: 25px;
    width: 300px;
  }
/* 
.d{
  display: flex;
  flex-direction: row;
} */