<html>
<head>
    <title>about us</title>
    <link rel="stylesheet" href="about.component.css">
</head>

     <div class="heading">
        <h1>About Us</h1>
     </div>
     <section class="about-us">
        <div class="banner"> </div>
        <div class="content">
            <h2>Sezim Flowers</h2>
            <p>We embody the essence of 
                spreading joy and positivity through our meticulously crafted floral arrangements.
               Each bloom is meticulously selected to evoke not only delight for the recipient but also a sense of fulfillment
                 for the giver, creating a shared experience of heartfelt emotions.</p>
                 <div>
                    <button type="button" (click)="redirectToTelegram()">
                        <span></span>CONTACT US
                      </button>
                                     
                </div>
        </div>
     </section>
</html>