* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h2{
    width: 160px;
    cursor: pointer;
    font-size: 27px;
  }
  .navbar{
    background-color: #ffffff ; 
    width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    padding: 10px 7%;
    box-shadow: 0 0 10px #6f855c;
  }

  .menu{
    display: flex;
    list-style: none;
    text-align: center;
    margin-left: 20px;
  }

  .menu .button{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    text-decoration: none; 
    color: black;
    cursor: pointer; 
  }

  .icon {
    display: flex;
    align-items: center;
    
  }

  .icon .cart-button{
    background-image: url(shopping-cart.png);
    width: 24px;
    height: 24px;
  }

  .icon .login-button{
    background-image: url(user.png);
    width: 24px;
    height: 24px;
  }