<head>
    <link rel="stylesheet" href="top-bar.component.css">
</head>

<body>
  <div class="navbar">
    <h2>SEZIM</h2>
   
  <div class="menu">
    <a [routerLink]="['/']" class="button">
      <h2 class="material-icons">HOME</h2>
    </a>
    <a [routerLink]="['/about']" class="button">
      <h2 class="material-icons">ABOUT</h2>
    </a>
    <a [routerLink]="['/bouquet-list']" class="button ">
      <h2 class="material-icons">BOUQUETS</h2>
    </a>
  </div>
    <div class="icon">
    <a [routerLink]="['/login']" >
      <div class="login-button"></div>
    </a>
    <a [routerLink]="['/cart']" >
      <div class="cart-button"></div>
    </a>
  </div>
  </div>
</body>